// colors
// http://brand.emory.edu/color.html
$color-1: #012169; // Emory Blue
$color-2: #6d2077; // Grape
$color-3: #ffffff; // White
$color-4: #b1b3b3; // Cool Grey 5

// fonts 

$primary-font: 'Noto Sans', sans-serif;

// tab-filter size

$tab-filter-height: 50px;